<%= link_to "<< Back to List", pages_path, class: 'back-link' %>

<div class="pages show">
    <h2>Show page</h2>

    <table summary="Page detail view">
        <tr>
            <th>Subject Name</th>
            <td><%= @page.subject.name %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @page.name %></td>
        </tr>
        <tr>
            <th>Permalink</th>
            <td><%= @page.permalink %></td>
        </tr>
        <tr>
            <th>Postion</th>
            <td><%= @page.position %></td>
        </tr>
        <tr>
            <th>Visible?</th>
            <td><%= status_tag(@page.visible) %></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><%= simple_format(word_wrap(strip_tags(@page.content.to_s))) %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @page.created_at.to_s(:long) %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @page.updated_at.to_s(:long) %></td>
        </tr>
    </table>

</div>